#linkbutton {
  display: inline-block;
  height: 2rem;
  width: 5rem;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 2rem;
  text-decoration: none;
  cursor: pointer;
  margin: 0 1rem;
}

#mobile_btn {
  display: none;
}

.mobile_btn_free {
  display: block;
  height: 3rem;
  width: 15rem;
  padding: 0 5px;
  background-color: #e44c65;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 3rem;
  border-radius: 5px;
  border-bottom: none;
}

.mobile_btn_free:hover {
  color: white !important;
}

@media screen and (max-width: 738px) {
  #linkbutton {
    display: inline-block;
    height: 2rem;
    width: 5rem;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 2rem;
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
  }

  #mobile_btn {
    display: block;
    margin-bottom: 1rem;
  }
}

.mobile_btn_free.blue {
  background: #6871f5;
}

header.major.pur:after {
  background: #1F83C6;
}

header.major.blue:after {
  background: #6871f5;;
}

#titleBar .toggle.pur:before {
  background: #1F83C6;
}

#linkbutton:link {
  color: #e44c65;
  text-decoration: none;
}

#linkbutton:visited {
  color: #e44c65;
  text-decoration: none;
}

#linkbutton:hover {
  color: #e44c65;
  text-decoration: none;
}

#kakao_chat {
  background-color: #1c1d26;
  border: none;
}

.hl-r202 {
  color: #1F83C6;
  font-weight: bolder;
  /* text-shadow: 0px 1px 1px #8999ff; */
}

.button.primary.pur {
  background-color: #6871f5;
}

.recruit_a:hover{
  color: #1F83C6 !important;
}