<!-- @format -->

<!DOCTYPE html>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <% include ../../include/header.ejs %>
  </head>

  <section id="video">
    <video width="100%" autoplay controls muted loop src="/assets/video/econo2020-1.mp4"></video>
  </section>

  <body class="is-preload">
    <div id="page-wrapper">
      <% include ../../include/navigation.ejs %> <% include ../../contents/hackathon/hackathon_2019.ejs %> <%
      include ../../include/footer %>
    </div>
  </body>
</html>
