      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li>
            <a href="https://www.facebook.com/econo.jnu.ac.kr" class="icon brands alt fa-facebook-f"
              ><span class="label">Facebook</span></a>
          </li>
          <li>
            <a href="https://www.medium.com/econovation" class="icon brands alt fa-medium"><span class="label">Medium</span></a>
          </li>
          <li>
            <a href="https://www.instagram.com/cnu_econovation" class="icon brands alt fa-instagram"
              ><span class="label">Instagram</span></a>
          </li>
          <li>
            <a href="https://www.github.com/jnu-econovation" class="icon brands alt fa-github"
              ><span class="label">GitHub</span></a>
          </li>
          <li>
            <a href="https://mailto:econovation@google.com" class="icon solid alt fa-envelope"
              ><span class="label">Email</span></a>
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Econovation. All rights reserved.</li>
          <li>Design: HTML5 UP</li>
        </ul>
      </footer>
    </div>
    <div id="fb-root"></div>

    <!-- Scripts -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>