<!-- @format -->
<header id="header">
  <h1 id="logo">
    <a href="/about_econo"><img width="100px" src="images/logo-nav.png" alt="" /></a>
  </h1>
  <nav id="nav">
    <ul>
      <li><a href="/about_econo">About</a></li>
      <li>
        <a href="#">DEV</a>
        <ul>
          <li><a href="/summer-dev-2021" target="_blank">Summer 2021</a></li>
          <li><a href="/winter-dev-2021">Winter 2021</a></li>
          <li><a href="/summer-dev-2020">Summer 2020</a></li>
        </ul>
      </li>
      <li>
        <a href="#">RECRUIT</a>
        <ul>
          <li><a href="/recruit-2021-1">21기</a></li>
        </ul>
      </li>
      <li>
        <a href="#">SNS</a>
        <ul>
          <li>
            <a href="https://www.facebook.com/econo.jnu.ac.kr">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/cnu_econovation">Instagram</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCepdmgc4w5EQIc1J0lqXVtA"
              >YouTube</a
            >
          </li>
          <li><a href="https://www.medium.com/econovation">Medium</a></li>
          <li>
            <a href="https://www.github.com/jnu-econovation">Github</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Hackathon</a>
        <ul>
          <li>
            <a href="/hackathon-2021">2021</a>
          </li>
          <li>
            <a href="/hackathon-2020">2020</a>
          </li>
          <li>
            <a href="/hackathon-2019">2019</a>
          </li>
        </ul>
      </li>
      <li>
        <a>Portfolio</a>
        <ul>
          <li>
            <a href="/portfolio-2021-summer">Summer 2021</a>
          </li>
          <li>
            <a href="/portfolio-2021-winter">Winter 2021</a>
          </li>
          <li>
            <a href="/portfolio-2020-summer">Summer 2020</a>
          </li>
          <li>
            <a href="/portfolio-2020-winter">Winter 2020</a>
          </li>
        </ul>
      </li>
      <li><a href="/faq">FAQ</a></li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=0eYdEDy8x-U"
          class="button primary"
          style="background-color: #1f83c6"
          target="_blank"
        >
          SUMMER DEV 다시보기
        </a>
      </li>
    </ul>
  </nav>
</header>
<!-- winterdev를 위해 임시로 버튼 색을 변경해 둔 것. 끝나면 style태그 빼기 -->
