<!-- @format -->
<header id="header">
  <h1 id="logo">
    <a href="/about"><img width="100px" src="/images/logo-nav.png" alt="" /></a>
  </h1>
  <nav id="nav">
    <ul>
      <li><a href="/about">About</a></li>
      <li>
        <a href="#">DEV</a>
        <ul>
          <li><a href="/summer-dev-2020">Summer 2020</a></li>
        </ul>
      </li>
      <li>
        <a href="#">RECRUIT</a>
        <ul>
          <li><a href="/recruit-2020-2">20기</a></li>
        </ul>
      </li>
      <li>
        <a href="#">SNS</a>
        <ul>
          <li>
            <a href="https://www.facebook.com/econo.jnu.ac.kr">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/cnu_econovation">Instagram</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCepdmgc4w5EQIc1J0lqXVtA"
              >YouTube</a
            >
          </li>
          <li><a href="https://www.medium.com/econovation">Medium</a></li>
          <li>
            <a href="https://www.github.com/jnu-econovation">Github</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Hackathon</a>
        <ul>
          <li>
            <a href="/hackathon-2019">2019</a>
          </li>
          <li>
            <a href="/hackathon-2020">2020</a>
          </li>
        </ul>
      </li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li>
        <a href="https://forms.gle/Dww9xSVvvXyk8VPe6" class="button primary"
          >Econovation 지원하기</a
        >
      </li>
    </ul>
  </nav>
</header>
