<header id="header">
  <h1 id="logo">
    <a href="/about"><img width="100px" src="/images/logo-nav.png" alt=""/></a>
  </h1>
  <nav id="nav">
    <ul>
      <li><a href="/about">About</a></li>
      <li>
        <a href="#">SNS</a>
        <ul>
          <li>
            <a href="https://www.facebook.com/econo.jnu.ac.kr">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/cnu_econovation">Instagram</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCepdmgc4w5EQIc1J0lqXVtA"
              >YouTube</a
            >
          </li>
          <li><a href="https://www.medium.com/econovation">Medium</a></li>
          <li>
            <a href="https://www.github.com/jnu-econovation">Github</a>
          </li>
        </ul>
      </li>
      <li><a href="/winter">Winter Dev</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLScibcIC0u8l4jlTNW-dAS4Df9bcr_D7L0KHWPWXPT_kItB4Cw/viewform"
          class="button primary"
          >사전 등록 하기</a
        >
      </li>
    </ul>
  </nav>
</header>
