<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major blue">
      <h2>2021 WINTER DEV</h2>
      <p>에코노베이션 성과발표</p>
    </header>

    <section
      style="display: flex; flex-direction: column; align-items: center;"
    >
      <div id="mobile_btn">
        <a
          href="https://forms.gle/u3SvjQ76trm8qzzq9"
          class="mobile_btn_free blue"
          style="font-size: 0.75rem;"
          >2021 WINTER DEV 참가 신청</a
        >
      </div>
      <br />
      <img src="assets/2021_winter_dev/2021 ECONOVATION WINTER DEV.gif" width="100%" />
      <br />
      <embed src="assets/2021_winter_dev/2021 WINTER DEV_타임테이블.pdf" type="application/pdf" view="Fit" width="100%" height="1600px" scrollbar="0" toolbar="0" statusbar="0" navpanes="0" />
      <br />
      <br />
      <section style="width: 100%;">
        <h2>WINTER DEV 참가하는 방법</h2>
        <h3>
          1. 2021 WINTER DEV 참가신청 버튼을 클릭하여 지원 폼을 작성하여 제출한다.
        </h3>
        <h3>2. 발표 전날 및 당일 오는 문자 메세지와 메일을 확인한다.</h3>
        <h3>3. 2021년 1월 29일 오후 3시에 진행될 WINTER DEV에 참가한다.</h3>
        <blockquote>
          여러분의 많은 참여 부탁합니다!
        </blockquote>
      </section>
      <section style="width: 100%;">
        <h2>문의사항</h2>
        <h3>WINTER DEV 담당자 이지율 : 010-9556-9648</h3>
        <h3>에코노베이션 회장 배종진: 010-2247-9052</h3>
      </section>
    </section>
  </div>
</div>
