<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>FAQ</h2>
            <p>자주 묻는 질문</p>
        </header>

        <!-- Text -->
        <section>
            <header>
                <h3>Q1. 모집 분야가 어떻게 되나요?</h3>
                <blockquote>A. 어플, 웹, 게임, IoT, 머신러닝 등 모든 개발 분야 모집 중입니다.</blockquote>
            </header>
            <hr />

            <header>
                <h3>Q2. 전공과 학년 상관없이 지원이 가능한가요?</h3>
                <blockquote>A. 네 가능합니다. 개발에 열정이 있는 사람이라면 학년과 전공 여부와 관계 없이 누구나 지원 가능합니다.</blockquote>
            </header>
            <hr />

            <header>
                <h3>Q3. 기타 증빙 자료는 구체적으로 어떤 것을 말하는 건가요?</h3>
                <blockquote>A. 무언가에 온전히 몰입해 본 경험을 자유로운 형식으로 표현하여 제출하시면 됩니다. 반드시 프로그래밍과 관련된 경험일 필요는 없으며, 관심 있는
                    분야에서 끈기 있게 지속하거나 성취한 것을 입증할 수 있다면 무엇이든 괜찮습니다.</blockquote>
            </header>
            <hr />

            <header>
                <h3>Q4. 몇 명 정도 선발하나요?</h3>
                <blockquote>A. 에코노베이션에 관심과 열정을 보여주시는 모든 분들과 함께 하고 싶지만 제한된 동아리 이용 시설 등 여러 제약 사항들로 인해 소수의 인원만 모집하고
                    있으며, 지원 분야, 졸업자 등의 요소를 고려해 매 학기 선발 인원 수는 조정되고 있습니다.</blockquote>
            </header>
            <hr />

            <div style="text-align: center;">
                <h2>카카오톡 오픈 채팅방</h2>
                <h4 style="margin-top: -20px">그 외 궁금한 사항은 카카오톡 오픈 채팅방을 이용해 주세요</h4>
            </div>

            <footer class="major">
                <ul class="actions special">
                    <li><a href="https://open.kakao.com/o/gr0nqCz" class="button"
                            style="background:rgba(247, 230, 0, 0.979);"><strong
                                style="color:rgba(60,30, 30,1); font-weight: 700">카카오톡 오픈채팅방 가기</strong></a>
                    </li>
                </ul>
            </footer>
        </section>
    </div>
</div>