<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>FAQ</h2>
      <p>자주 묻는 질문</p>
    </header>

    <!-- Text -->
    <section>
      <header>
        <h3>Q1. Winter Dev 란 무엇인가요?</h3>
        <blockquote>
          A. 전남대학교 IT 동아리 'ECONOVATION'에서 한 학기 동안 진행한
          프로젝트를 마무리하는 자리이자 개발에 관한 많은 이야기들을 나눌 수
          있는 네트워킹 행사입니다.
        </blockquote>
      </header>
      <hr />

      <header>
        <h3>Q2. 전공과 학년 상관없이 누구나 참여 가능한가요?</h3>
        <blockquote>
          A. 네 가능합니다. 개발에 열정이 있는 사람이라면 학년과 전공 여부와
          관계 없이 누구나 참여 가능합니다.
        </blockquote>
      </header>
      <hr />

      <header>
        <h3>Q3. 당일 현장등록이 가능한가요?</h3>
        <blockquote>
          A. 네 가능합니다. 하지만 사전등록을 하지 않고 현장등록하실 경우 사전에
          준비된 상품을 받으실 수 없습니다.
        </blockquote>
      </header>
      <hr />

      <header>
        <h3>Q4. 행사시간에 늦더라도 참여가능한가요?</h3>
        <blockquote>
          A. 네 늦더라도 참여하실습니다. 하지만 Winter Dev를 더욱 더 재미있게
          참여하려면 행사시간에 늦지 않게 참여하시길 바랍니다.
        </blockquote>
      </header>
      <hr />

      <div style="text-align: center;">
        <h2>카카오톡 오픈 채팅방</h2>
        <h4 style="margin-top: -20px">
          그 외 궁금한 사항은 카카오톡 오픈 채팅방을 이용해 주세요
        </h4>
      </div>

      <footer class="major">
        <ul class="actions special">
          <li>
            <a
              href="https://open.kakao.com/o/gr0nqCz"
              class="button"
              style="background:rgba(247, 230, 0, 0.979);"
              ><strong style="color:rgba(60,30, 30,1); font-weight: 700"
                >카카오톡 오픈채팅방 가기</strong
              ></a
            >
          </li>
        </ul>
      </footer>
    </section>
  </div>
</div>
