<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>Recruitment</h2>
      <p>2020 - 1학기 에코노베이션 모집</p>
    </header>
    <section>
      <img src="images/recruitment.jpg" width="100%" />

      <div style="text-align: center; margin-top: 40px;">
        <a
          href="https://forms.gle/wZfKkCvA2fAJS2vQ9"
          class="button primary"
          id="resevervation"
          >지원 하기</a
        >
        <a href="/faq" class="button " style="margin-left: 30px;">FAQ</a>
      </div>
      
    </section>
    
  </div>
</div>
