<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Portfolio</h2>
            <p>2020-1학기 에코노베이션이 개발한 프로젝트</p>
        </header>

        <section>
            <h3>[Game] TABBY(임원빈, 정현석) - Wenity</h2>
                <p>동물 친구들을 모아 코모도 왕도마뱀을 물리치는 게임</p>
            <iframe id="ytplayer" type="text/html" width="100%" height="500"
  src="https://www.youtube.com/embed/bYDR9_b01Bo"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[IoT] GREENTECH(송정경, 이상윤) - SIoT</h3>
            <p>GREENTECH는 농업에 자동화 시스템을 접목한 스마트 온실 시스템입니다. 사물인터넷 분야에서 가장 대표적인 ADUINO라는 하드웨어를 사용했습니다. 조도, 수분량 측정 및 조절 기능, 화재 감지 기능, 온도 측정 기능이 있습니다. Blynk라는 소프트웨어를 사용해 모바일 앱을 통해 사용자가 쉽게 기능들을 제어할 수 있도록 구현했습니다.</p>
            <iframe id="ytplayer" type="text/html" width="100%" height="500"
  src="https://www.youtube.com/embed//Z_WnhbXPEg0"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[Android] 김성혁, 류현지, 이의종 - ONUL</h3>
            <p>현대인들의 억압된 감정과 통증을 어떻게 해소시킬 수 있을까라는 고민을 시작으로 일기를 통한 감정 자각이라는 메인 키워드를 가지고 안드로이드 앱 프로젝트를 진행했습니다. 이모지를 통해 감정을 시각화하고 구글 음성인식 API를 사용하여 음성으로 일기를 기록할 수 있게 만들었습니다. 또한 Firebase Cloudfirestore를 이용하여 로그인 및 회원 정보 관리, 날짜별 일기를 저장하였습니다.</p>
            <iframe id="ytplayer" type="text/html" width="100%" height="500"
  src="https://www.youtube.com/embed/Q8S37O_GzGQ"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[Web] 낌(김송아, 김유리) - GiftCome </h3>
            <p>GiftCome은 사용자 맞춤형 선물 추천 웹사이트입니다. 네이버 쇼핑 API를 활용하여 사용자가 입력한 검색 키워드와 희망 가격대, 선물을 받는 사람의 성별과 연령대를 기준으로 선물 목록을 제시합니다. 실시간 인기순 선물을 확인할 수 있으며 팝업창을 통해 접속 시기에 가까운 기념일이나 행사를 위한 선물을 추천합니다. 상품 찜하기, 사용자 간 위시리스트 공유, 커뮤니티 이용을 위해 CRUD를 구현했습니다.</p>
            <iframe id="ytplayer" type="text/html" width="100%" height="500"
  src="https://www.youtube.com/embed/vz9XIV847DQ"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[iOS] Flannel(김창영, 오중균) - Palette</h3>
            <p>정기구독형 iOS 이모티콘 플랫폼입니다.
            </p>
            <iframe id="ytplayer" type="text/html" width="100%" height="500"
  src="https://www.youtube.com/embed/Fx-9SdgAXaw"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[Robotics] 로보덕(김정인) - ROBOTICS=LOVERTICS(로봇팔을 제어하다)</h3>
            <p>ROS를 이용해서 과수를 인식하고 로봇팔(UR3)를 제어하는 프로젝트를 진행했습니다. 과수 인식을 위해 YOLOV3 모델을 사용했으며 pose data를 획득하기 위해 RGB-D 카메라로 point cloud 데이터를 획득하였고 이를 통해 3차원 좌표를 획득하였습니다. 로봇팔을 작동시키기 위해 moveit! 이라는 소프트웨어를 사용했습니다. </p>
            <iframe id="ytplayer" type="text/html" width="100%" height="500"
  src="https://www.youtube.com/embed/Q5QkPeNbKHc"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[Game] SquiEasy(김창영, 이지율) - Hunting Season</h3>
            <p>밤마다 괴물을 쫓는 로그라이크 게임입니다.</p>
            <iframe id="ytplayer" type="text/html"width="100%" height="500"
  src="https://www.youtube.com/embed/NXMqlOccROU"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[ML] AIE(김민주, 박창대) - Get your mask on!</h3>
            <p>AI를 기반으로 한 마스크 착용 인식 출입통제 시스템입니다. 데이터 크롤링을 하여 이미지 데이터를 수집하였으며 YOLOV3모델을 사용하여 마스크 인식을 하고 아두이노에 초음파 센서와 서브 모터를 연결하여 출입문을 구현하였습니다.</p>
            <iframe id="ytplayer" type="text/html" width="100%" height="500"
  src="https://www.youtube.com/embed/-Yzm8ASAclU"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[Web] 김서영, 배종진, 최진영 - webper</h3>
            <p>webper는 웹사이트 스크래핑을 이용한 나만의 URL 아카이브 어플리케이션 입니다. 다양한 특성의 정보를 가지고 있는 웹사이트를 핵심 정보 위주로 가공해 스크랩을 만듭니다. 그리고 폴더 구조로 스크랩을 깔끔하게 저장 관리할 수 있습니다. puppeteer모듈 서버로 사이트를 스크래핑하고, React로 webper의 모든 UI, UX를 제공하고, Spring Boot로 REST API서버를 만들어 사용자 인증과 식별 및 webper 데이터 제공 기능을 합니다.</p>
            <iframe id="ytplayer" type="text/html"width="100%" height="500"
  src="https://www.youtube.com/embed/Es9ASjBCSaU"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[Web] 자자익선(김기표, 김종근, 정병재, 이선경) - 으쌰으쌰</h3>
            <p>지속가능한 발전을 하기 위해 고군분투하는 개발자들을 위한 동기부여 플랫폼. 아침에 일찍 일어나 하고싶은 일들을 하며, 그 일의 성취를 랭킹, 잔디와 같이 매일 가시적으로 보이는 결과물들로 동기부여를 받을 수 있다. Spring과 React를 활용한 웹 프로젝트 입니다.</p>
            <iframe id="ytplayer" type="text/html"width="100%" height="500"
  src="https://www.youtube.com/embed/vwlexBdCrnw"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[Web] BORORO(탁민경) - Instagram cloning</h3>
            <p>Node.js의 express와 React를 이용해 인스타그램을 웹으로 클론코딩하는 프로젝트 입니다.</p>
            <iframe id="ytplayer" type="text/html"width="100%" height="500"
  src="https://www.youtube.com/embed/JLsy4DCfsiw"
  frameborder="0"></iframe>
        </section>
        <hr>
        <section>
            <h3>[Web] JMT(김규란, 안서진) - 가는 길에</h3>
            <p>사용자가 선택한 장소들로 다양한 추천 경로를 제공하는 웹 어플리케이션</p>
            <iframe id="ytplayer" type="text/html"width="100%" height="500"
  src="https://www.youtube.com/embed/zbqbgAVfBr4"
  frameborder="0"></iframe>
        </section>
    </div>
</div>