@media screen and (max-width: 1280px) {
    #intro-right-mobile-button {
        display: block !important;
    }
    
    #intro-left-mobile-button {
        display: block !important;
    }

    #winter-dev-intro {
        display:none;
    }
    
    #project {
        display: none;
    }

    #winter-dev-intro-mobile {
        display: block;
    }
    
    #project-mobile {
        display: block;
    }
}    


@media screen and (max-width: 1400px) {
    .faq-container {
        flex-direction: column;
        width: 100%;
        display: flex;
    }
    
    .width-1400 {
        display: block;
    }

    .width-1400-none {
        display: none !important;
    }
}


@media screen and (max-width: 1000px) {
    html {
        font-size: 8px;
    }

    .notice-icon-background {
        width: 113px;
        height: 113px;
        margin-left: 25px;
    }

    .notice-icon {
        height: 24px;
    }

    #paricipation-period {
        margin-bottom: 0;
    }

    #event-sun {
        margin-bottom: 31.7rem;
    }

    .faq-q {
        font-size: 2rem;
    }

    .faq-label {
        font-size: 2rem;;
    }
}

@media screen and (max-width: 580px) {
    html {
        font-size: 6px;
    }
    
    .notice-icon-background {
        width: 43.5px;
        height: 43.5px;
        margin-left: 14px;
    }

    .notice-icon {
        height: 12px;
    }

    .device-height {
        height: 70vh;
    }

    #paricipation-period {
        margin-bottom: 0;
    }

    #event-sun {
        margin-top: -34rem;
        margin-bottom: 69rem;
    }
    #event2 {
        margin-left: -195px;
    }

    #event2-poster{
        margin-right: 3.4rem;
    }

    .width-500-none {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    #event1-content {
        width: 203px;
    }
}