<!-- @format -->

<!DOCTYPE html>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <!--link href="../../../front/assets/2021_summer_dev/css/2021summerdev.css" rel="stylesheet"/-->
    <!--% include ../../include/header.ejs %-->
  </head>

  <body class="is-preload">
    <div id="page-wrapper">
      <!--% include ../../include/navigation.ejs %--> 
      <% include ../../contents/dev/2021_summer_dev.ejs %> 
      <!--% include ../../include/footer %-->
    </div>
  </body>
</html>
