<!--2021_summer_dev html-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image⁄x-icon" href="/images/logo.jpg" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link href="/assets/2021_summer_dev/css/2021summerdev.css" rel="stylesheet" type="text/css"/>
    <meta name="mywnajsldkf">
    <title>2021-1 ECONOVATION SUMMER DEV</title>
  </head>
  <body id="page-top">
    <!-- Navitagion -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="https://econovation.kr/about_econo"><img width="120" src="/assets/2021_summer_dev/images/ecnv-logo.png"></img></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link" href="#intro">Intro</a></li>
              <li class="nav-item"><a class="nav-link" href="#timetable">Timetable</a></li>
              <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
              <li class="nav-item"><a class="nav-link" href="https://open.kakao.com/o/sKALqaod
                ">Q&A</a></li>
              <!--li class="nav-item"><a class="nav-link" href="">지난 발표 보기</a></li-->
            </ul>
          </div>
        </a>
      </div>
    </nav>
    <!-- Masthead -->
    <header class="masthead">
      <div class="container">
        <div class="masthead-heading">2021 SUMMER DEV</div>
        <a class="btn btn-primary btn-xl text-uppercase" 
          href="https://docs.google.com/forms/d/e/1FAIpQLSdsVMRup9Xuo1E89-NyDV9zTeen3Cdzs_JReLXmLYkCZ5FK_g/viewform"
          target="_blank"
        >
        참가 신청하기
        </a>
        <a class="btn btn-primary btn-xl text-uppercase" href="../portfolio/portfolio_2021_summer">발표 소개</a>
      </div>
    </header>
    <!-- Intro -->

    <!-- Timetable -->
    <section class="page-section" id="timetable">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading">Timetable</h2>
          <div class="row text-center">
            <div class="col-md-4">
              <h4 class="my-3">개회식</h4>
              <p class="text-muted">15:00 ~ 15:20</p>
            </div>
            <div class="col-md-4">
              <h4 class="my-3">GroupA 발표</h4>
              <p class="text-muted">15:20 ~ 16:35</p>
            </div>
            <div class="col-md-4">
              <h4 class="my-3">Break & Quiz</h4>
              <p class="text-muted">16:35 ~ 17:00</p>
            </div>
            <div class="col-md-4">
              <h4 class="my-3">GroupB 발표</h4>
              <p class="text-muted">17:00 ~ 18:15</p>
            </div>
            <div class="col-md-4">
              <h4 class="my-3">폐회식</h4>
              <p class="text-muted">18:15 ~ 18:30</p>
            </div>
          </div>
          <!--div class="row text-center">
            <div>
              <h4>GroupA</h4>
              <table border="1"> 
                <th>분야</th>
                <th>프로젝트 명</th>
                <th>프로젝트 소개</th>
                <th>팀명 (팀원)</th>
                <tr>
                  <td>AI</td>
                  <td>All-Rounder</td>
                  <td>주가 데이터인 시계열 데이터를 이용한 주가 예층 인공지능</td>
                  <td>Deeping Source (강다은, 이서현)</td>
                </tr>
                <tr>
                  <td>App</td>
                  <td>유서써유 (You Will)</td>
                  <td>나와 모두에게 쓰는 편지, 유서써유(You Will)</td>
                  <td>캥거루즈 (김민주, 김송아, 김유리, 정주희)</td>
                </tr>
                <tr>
                  <td>App</td>
                  <td>Pinning</td>
                  <td>나만의 추천을 기록하는 소셜 맵 안드로이드 애플리케이션</td>
                  <td>이응 (성윤아, 이혜은)</td>
                </tr>
                <tr>
                  <td>App</td>
                  <td>treena</td>
                  <td>자연어 처리 기반 감성 분석 다이어리 애플리케이션</td>
                  <td>파릇파릇 (김송아, 김유리, 나영주, 류현지)</td>
                </tr>
                <tr>
                  <td>AI</td>
                  <td>HCP</td>
                  <td>허밍(humming)을 멜로디로 변환하여 자연어 처리 기반 transformer 알고리즘을 이용해 반주를 생성하는 프로그램</td>
                  <td>ARIA (김서영, 김양하, 신재욱)</td>
                </tr>
              </table>
            </div>
          </div-->
          <!--div>
            <h4>GroupB</h4>
            <table border="1"> 
              <th>분야</th>
              <th>프로젝트 명</th>
              <th>프로젝트 소개</th>
              <th>팀명 (팀원)</th>
              <tr>
                <td>Web</td>
                <td>에코노 냉장고</td>
                <td>냉장고 안에 재료로 만드는 음식 레시피를 추천해주는 웹사이트</td>
                <td>위험한 형제들 (권순찬, 이윤성)</td>
              </tr>
              <tr>
                <td>App</td>
                <td>Friendo</td>
                <td>그룹 간의 To Do List를 작성하고 관리하는 애플리케이션</td>
                <td>FastBoys (채상엽, 홍동건)</td>
              </tr>
              <tr>
                <td>Game</td>
                <td>태그헌터</td>
                <td>찾아내고 맞바꾸는 스토리텔링 RPG</td>
                <td>레인디어게임즈 (김영우, 임원빈)</td>
              </tr>
              <tr>
                <td>Web</td>
                <td>collusic</td>
                <td>온라인 작사 작곡 협업 웹 사이트</td>
                <td>니곡내곡 (박재현, 김다애, 주동혁, 한수아, 황지우)</td>
              </tr>
              <tr>
                <td>Web</td>
                <td>투너</td>
                <td>독자의, 독자를 위한, 독자에 의한 웹툰 리뷰 커뮤니티</td>
                <td>투너 (김성혁, 김창영, 서서영, 이상윤, 정회형)</td>
              </tr>
            </table>
          </div>
        </div>
      </div-->
    </section>
    <!-- FAQ -->
    <div class="page-section bg-dark" id="faq">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading">FAQ</h2>
        </div>
            <ul class="section_faq">
              <li class="faq_list_item">
                <dt class="faq_question">
                  SummerDev는 어떤 행사인가요?
                </dt>
                <dd class="faq_answer">
                  에코노베이션 회원들이 한 학기동안 개발한 것들을 발표하는 행사입니다.
                </dd>
              </li>
              <li class="faq_list_item">
                <dt class="faq_question">
                  SummerDev에 참가할 수 있는 자격이 따로 있을까요?
                </dt>
                <dd class="faq_answer">
                  아니요, SummerDev에 관심있는 누구나 참가할 수 있습니다. 
                </dd>
              </li>
              <li class="faq_list_item">
                <dt class="faq_question">
                  SummerDev는 사회적 거리두기 상황에서 어떤 방식으로 진행되나요? 
                </dt>
                <dd class="faq_answer">
                  이번 SummerDev는 온/오프라인 통합 방식으로 진행됩니다. 참가자분들은 모두 온라인으로, 발표자들은 한 장소에 모여 스트리밍 서비스를 통해 온라인 송출 해드릴 예정입니다. 
                </dd>
              </li>
            </li>
            <li class="faq_list_item">
              <dt class="faq_question">
                참가신청 방식과 일정은 어떻게 될까요?
              </dt>
              <dd class="faq_answer">
                참가신청은 7월 28일까지 이루어지며 사전에 <a href="https://docs.google.com/forms/d/e/1FAIpQLSdsVMRup9Xuo1E89-NyDV9zTeen3Cdzs_JReLXmLYkCZ5FK_g/viewform">구글폼</a>을 작성하시면 됩니다. 
              </dd>
            </li>
            <li class="faq_list_item">
              <dt class="faq_question">
                에코노베이션은 어떤 동아리인가요?
              </dt>
              <dd class="faq_answer">
                에코노베이션은 정보전산원 소속 개발 동아리입니다. 개발에 열정 있는 사람이라면 전공에 관계없이 누구나 지원가능합니다. 
              </dd>
            </li>
            <li class="faq_list_item">
              <dt class="faq_question">
                에코노베이션에 들어가면 주로 어떤 활동을 하나요?
              </dt>
              <dd class="faq_answer">
                에코노베이션은 매 학기 한 가지 주제를 실제 동작하는 서비스를 구현하는 프로젝트를 진행합니다. 단순히 기한만 정해져 있는 프로젝트가 아닌 의무적으로 매주 금요일 모여 프로젝트의 진행 상황을 공유 및 발표하고 피드백을 주고 받습니다. 
              </dd>
            </li>
            <li class="faq_list_item">
              <dt class="faq_question">
                에코노베이션 신입 동아리원 모집기간은 언제일까요?
              </dt>
              <dd class="faq_answer">
                에코노베이션은 매 학기 신입 동아리원을 모집하며 공지는 에브리타임, 교내 포스터, SNS등을 통해 확인하실 수 있습니다.
              </dd>
            </li>
          </ul>
        </div>
      </div>
      <!--Q&A-->
      <div class="page-section bg-dark" id="Q&A">
        <div class="container">
          <div class="text-center">
            <h2 class="section-heading">Q&A</h2>
          </div>
          <div class="text-center">
            <h3 class="section-subheading text-muted">FAQ 이외의 궁금한 상황은 오픈채팅방을 통해 질의 남겨주시면 담당자가 확인하고 답변드립니다.</h3>
            <a class="link_qna" href="https://open.kakao.com/o/sKALqaod">Q&A 바로가기</a>
          </div>
        </div>
      <!--Footer-->
      <!--footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2021</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer-->
    <script src="/assets/2021_summer_dev/js/scripts.js"></script>
  </body>
</html>


<!--div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>2021 SUMMER DEV</h2>
      <p>에코노베이션 성과발표</p>
    </header>

    <section
      style="display: flex; flex-direction: column; align-items: center;"
    >
      <div id="mobile_btn">
        <a
          href="https://meet.google.com/dgd-pwkm-nuv"
          class="mobile_btn_free"
          style="font-size: 0.75rem;"
          >2020 SUMMER DEV 온라인 채널</a
        >
      </div>
      <br />
      <img src="assets/2020_summer_dev/2020_SUMMER_DEV.jpg" width="100%" />
      <br />
      <img src="assets/2020_summer_dev/2020_SUMMER_DEV_contents.jpg" width="100%" />
      <br />
      <br />
      <section style="width: 100%;">
        <h2>SUMMER DEV 보러오는 방법</h2>
        <h3>
          1. 먼저 2020 SUMMER DEV 참가 버튼을 눌러 지원 폼을 작성하여 제출한다.
        </h3>
        <h3>2. 발표 전날 및 당일 오는 문자 메세지나 메일을 확인한다.</h3>
        <h3>3. SUMMER DEV를 보러온다.</h3>
        <blockquote>
          여러분의 많은 참여 부탁합니다!
        </blockquote>
      </section>
      <section style="width: 100%;">
        <h2>문의사항</h2>
        <h3>SUMMER DEV 담당자 김기표: 010-5439-4111</h3>
        <h3>에코노베이션 회장 배종진: 010-2247-9052</h3>
      </section>
    </section>
  </div>
</div-->
