<!--2021_summer_dev html-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link href="/assets/2021_summer_dev/css/2021summerdev.css" rel="stylesheet" type="text/css"/>
    <meta name="mywnajsldkf">
    <title>2021-1 ECONOVATION SUMMER DEV</title>
  </head>
  <body id="page-top">
    <!-- Navitagion -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="/assets/2021_summer_dev/images/ecnv-logo.png"></img></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link" href="#Intro">Intro</a></li>
              <li class="nav-item"><a class="nav-link" href="#Schedule">Schedule</a></li>
              <li class="nav-item"><a class="nav-link" href="#FAQ">FAQ</a></li>
              <li class="nav-item"><a class="nav-link" href="https://open.kakao.com/o/sKALqaod
                ">Q&A</a></li>
              <li class="nav-item"><a class="nav-link" href="">지난 발표 보기</a></li>
            </ul>
          </div>
        </a>
      </div>
    </nav>
    <!-- Masthead -->
    <header class="masthead">
      <div class="container">
        <div class="masthead-heading">2021 SUMMER DEV</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="">참가신청</a>
        <a class="btn btn-primary btn-xl text-uppercase" href="../portfolio/portfolio_2021_summer">발표 소개</a>
      </div>
    </header>
    <!-- Intro -->

    <!-- Schedule -->
    
    <!-- FAQ -->
  </body>
</html>


<!--div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>2021 SUMMER DEV</h2>
      <p>에코노베이션 성과발표</p>
    </header>

    <section
      style="display: flex; flex-direction: column; align-items: center;"
    >
      <div id="mobile_btn">
        <a
          href="https://meet.google.com/dgd-pwkm-nuv"
          class="mobile_btn_free"
          style="font-size: 0.75rem;"
          >2020 SUMMER DEV 온라인 채널</a
        >
      </div>
      <br />
      <img src="assets/2020_summer_dev/2020_SUMMER_DEV.jpg" width="100%" />
      <br />
      <img src="assets/2020_summer_dev/2020_SUMMER_DEV_contents.jpg" width="100%" />
      <br />
      <br />
      <section style="width: 100%;">
        <h2>SUMMER DEV 보러오는 방법</h2>
        <h3>
          1. 먼저 2020 SUMMER DEV 참가 버튼을 눌러 지원 폼을 작성하여 제출한다.
        </h3>
        <h3>2. 발표 전날 및 당일 오는 문자 메세지나 메일을 확인한다.</h3>
        <h3>3. SUMMER DEV를 보러온다.</h3>
        <blockquote>
          여러분의 많은 참여 부탁합니다!
        </blockquote>
      </section>
      <section style="width: 100%;">
        <h2>문의사항</h2>
        <h3>SUMMER DEV 담당자 김기표: 010-5439-4111</h3>
        <h3>에코노베이션 회장 배종진: 010-2247-9052</h3>
      </section>
    </section>
  </div>
</div-->
