<!-- @format -->

<!DOCTYPE html>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <% include ../../include/header.ejs %>
  </head>

  <body class="is-preload">
    <div id="page-wrapper">
      <% include ../../include/navigation.ejs %> <% include
      ../../contents/recruit/recruit_2021_1.ejs %> <% include ../../include/footer %>
    </div>
    <script>
      let doc = document.querySelector("#titleBar .toggle");
      doc.classList.add("pur");
      let but = document.querySelectorAll(".button.primary");
      but.forEach((el) => el.classList.add("pur"));
    </script>
  </body>
</html>
