

<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<% include ../include/header.ejs %>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<% include ../include/navigation.ejs %>
			<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>Portfolio</h2>
						<p>2019-1학기 에코노베이션이 개발한 프로젝트</p>
					</header>
					<section >
						<h3 >[2019 1학기] 최종발표 - 1</h3>
					
					</section>
				</div>
			</div>
			<% include ../include/footer %>
			<script>

				
			</script>
	</body>
</html>