<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<% include ../include/header.ejs %>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<% include ../include/navigation.ejs %>

		<!-- Main -->
		<% include ../contents/faq.ejs %>
		

		<% include ../include/footer %>

</body>

</html>