

<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<% include ../include/header.ejs %>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<% include ../include/navigation.ejs %>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>FAQ</h2>
							<p>자주 묻는 질문</p>
						</header>

						<!-- Text -->
							<section>
								<h3>컴퓨터 관련 전공이 아닌데도 참여가능한가요?</h3>
								<blockquote>넵. 당근 당근 바니바니</blockquote>

								<hr />

								<header>
									<h3>Heading with a Subtitle</h3>
									<p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
								<header>
									<h4>Heading with a Subtitle</h4>
									<p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
								</header>
								<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>

								<hr />

								<h2 style="text-align: center">카카오톡 오픈 채팅방</h2>
								<footer class="major">
                                    <ul class="actions special">
                                      <li><a href="#" class="button">카카오톡 오픈채팅방 가기</a></li>
                                    </ul>
                                </footer>
								<hr/>
							</section>
							
							<!-- Email -->
							<section>
							<h2 style="text-align: center">이메일 문의하기(준비중)</h2>
							<form action="mailto:econovation@google.com" method="get">
								<div class="row gtr-uniform gtr-50">
									<div class="col-6 col-12-xsmall">
										<input type="text" name="name" id="name" placeholder="이름">
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="email" name="name" id="name" placeholder="이메일">
									</div>
								</div>
								<br>
								<div class="col-12">
									<textarea name="contents" id="contents" cols="30" rows="10"></textarea>
								</div>
								<br>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="문의하기" class="primary"></li>
									</ul>	
								</div>
							</form>
							</section>

					</div>
				</div>

			<% include ../include/footer %>

	</body>
</html>