<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<% include ../include/header.ejs %>
	</script>
	<link rel="stylesheet" href="/assets/css/invitation.css">

</head>

<body class="is-preload">
	<div id="main" class="wrapper style1">
		<div class="container">
			<header class="major">
				<h2>모집 안내</h2>
				<p>2019-2학기 에코노베이션 신입 모집</p>
			</header>

			<section style="margin-top: -100px">
				<div id="page-wrapper">

					<% include ../include/navigation.ejs %>

					<% include ../contents/invitation.ejs %>
			</section>
		</div>
	</div>

	<ul class="actions special">
		<li><a href="https://forms.gle/xW3zaBM5t61dfHRW7" class="button primary" style="margin-top: -100px">지원하러 가기</a>
		</li>
	</ul>


	<% include ../include/footer %>

	<script src="/assets/js/invitation.js"></script>
</body>

</html>