

<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<% include ../include/header.ejs %>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<% include ../include/navigation.ejs %>
			<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>Portfolio</h2>
						<p>2019-1학기 에코노베이션이 개발한 프로젝트</p>
					</header>
						<section >
							<h3 >[2019 1학기] 최종발표 - 1</h3>

							<div width="450px"class="fb-video" data-href="https://www.facebook.com/econo.jnu.ac.kr/videos/427526644513067/" data-width="500" data-show-text="false"><blockquote cite="https://developers.facebook.com/facebook/videos/10153231379946729/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/facebook/videos/10153231379946729/"></a>Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014</blockquote></div>
							
							<div id="description" >
								<h3>[어플] 나의 주인님을 소개합니다.</h3>
							<p>iOS 앱 개발과 MVVM 적응기</p>
							<h3>[머신러닝] 신발 인식 서비스</h3>
							<p>CNN 신경망을 통한 신발 이미지 인식 서비스</p>
							<h3>[웹] 과제는 내일로</h3>
							<p>과제는 집어치우고 내일로 떠나자! 내일로 여행 계획 서비스</p>
							<h3>[게임] 크롤 더 빌딩</h3>
							<p>보석 스틸 게임</p>
							<h3>[웹] 이노모</h3>
							<p>이 노래 모예요? 음악 기반 커뮤니티 웹 서비스</p>
							</div>
							
						</section>
						
						<hr />
						<section>
							<h3>[2019 1학기] 최종발표 - 2</h3>
							
							<div class="fb-video" width="450px"data-href="https://www.facebook.com/econo.jnu.ac.kr/videos/217231959162143/" data-width="500" data-show-text="false"><blockquote cite="https://developers.facebook.com/facebook/videos/10153231379946729/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/facebook/videos/10153231379946729/">How to Share With Just Friends</a><p>How to share with just friends.</p>Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014</blockquote></div>
							
							<div id="description">
								<h3>[머신러닝] 수화 통역기 <a style="color:brown"href="https://www.facebook.com/econo.jnu.ac.kr/videos/404539066934988/">링크</a></h3> 
							<p>AI를 통한 양방향 음성 - 수화 통역기</p>
							<h3>[게임] IMU_IMU</h3>
							<p>면역체계 2D 진행형 로그라이크 게임</p>
							<h3>[어플] In&Out</h3>
							<p>동아리방 출입 신청 및 관리 시스템</p>
							<h3>[웹] SSOKSSOK</h3>
							<p>웹 크롤링을 이용한 장애인 맟춤형 채용 정보 제공 서비스</p>
							<h3>[IoT] 스마트 도어락</h3>
							<p>완벽한 외출을 위한 Mobius 플랫품 기반의 스마트 도어락</p>
							<h3>[웹] MOMENT</h3>
							<p>여행자의 안전을 위한 실시간 위치기반 뉴스 서비스</p>
							</div>
						</section>
				</div>
			</div>
			<% include ../include/footer %>
	</body>
</html>