<!DOCTYPE html>
<html>
  <head>
    <% include ../../include/header.ejs %>
  </head>

  <body class="is-preload">
    <div id="page-wrapper">
      <% include ../../include/navigation.ejs %> <% include
      ../../contents/portfolio/portfolio_2021_summer.ejs %> <% include
      ../../include/footer %>
    </div>
  </body>
</html>
